.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

body {
  font-family: serif;
  box-sizing: border-box;
  margin: 1%;
}

fieldset {
  display: flex;
  width: 50%;
  margin-left: 22%;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

h1 {
  color: rgb(241, 241, 241);
}

main {
  display: flex;
  justify-content: space-around;
}

.houses-container {
  display: flex;
  padding: 0;
  margin: 0;
}

main form {
  background-color: rgb(241, 227, 227);
}

.form {
  display: flex;
  width: 675px;
  border: 1px solid rgb(50, 167, 145);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
}

/* Pedro E. Requesito 6 */
#evaluation-form {
  flex-direction: column;
}

/* Pedro E. Requesito 7 */
#trybewarts-forms-logo {
  height: 500px;
}

.form-group {
  margin: 10px;
}

.trybewarts-header-logo {
  display: flex;
  width: 100px;
  padding: 5px;
}

.form-2 {
  display: flex;
  flex-direction: column;
}

/* Ramon G B S Requisito 13 */
.div-label {
  margin-top: 20px;
}

.form-3 {
  margin-top: 10px;
  display: flex;
  padding-left: 2%;
}

.form-3 div label {
  margin-left: 5px;
  margin-right: 5px;
}

#evaluation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#evaluation label {
  margin-left: 3px;
}

#label-rate {
  margin-top: 20px;
}

.form-4 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 2%;
}

#agreement {
  margin-left: 10px;
}
